<h2 id="title">Welcome to ember-basic-ui</h2>
<section class="container">
	<aside>
		<nav>
			<ol>
				{{#link-to "p-default" tagName='li'  activeClass="nav-active"}}
					default
				{{/link-to}}
				{{#link-to "p-layout" tagName='li'  activeClass="nav-active"}}
					layout
				{{/link-to}}
				{{#link-to "p-button" tagName='li' activeClass="nav-active"}}
					button
				{{/link-to}}
				{{#link-to "p-button-group" tagName='li' activeClass="nav-active"}}
					button-group
				{{/link-to}}
				{{#link-to "p-dropdown" tagName='li' activeClass="nav-active"}}
					dropdown
				{{/link-to}}
			</ol>
		</nav>
	</aside>
	<section class="content">
		{{outlet}}
	</section>
</section>