<h2 id="title">Welcome to ember-basic-ui</h2>
<section class="container">
	<aside>
		<nav>
			<ol>
				<li>{{#link-to "p-layout"}}
						layout
					{{/link-to}}</li>
				<li>{{#link-to "p-button"}}
						button
					{{/link-to}}
				</li>
				<li>{{#link-to "p-button-group"}}
						button-group
					{{/link-to}}
				</li>
			</ol>
		</nav>
	</aside>
	<section class="content">
		{{outlet}}
	</section>
</section>