<section class="btn-container">
	<h3>p-button 的使用方法</h3>
	<h4>基础用法</h4>
	{{#p-button}}default{{/p-button}}
	{{#p-button type="primary"}}Primary{{/p-button}}
	<hr>
	<h4>禁止属性 disabled</h4>
	{{#p-button disabled=true}}disabled butto{{/p-button}}
	<hr>
	<h4>块级属性 block</h4>
	{{#p-button block=true onClick=(action 'submit')}}block button{{/p-button}}
	<hr>
	<h4>基础的类型</h4>
	{{#p-button type="primary" onClick=(action 'submit')}}primary{{/p-button}}
	{{#p-button type="secondary" onClick=(action 'submit')}}secondary{{/p-button}}
	{{#p-button type="danger" onClick=(action 'submit')}}danger{{/p-button}}
	{{#p-button type="default" disabled=false onClick=(action 'submit')}}default{{/p-button}}
	{{#p-button type="default" disabled=true}}disabled default{{/p-button}}
	{{#p-button type="primary"
		onClick=(action 'submit')
		icon="https://s3.amazonaws.com/uifaces/faces/twitter/damenleeturks/128.jpg"}}
		primary
	{{/p-button}}
	<hr>
	<h4>反转样式</h4>
	{{#p-button type="primary" reverse=true onClick=(action 'submit')}}reverse primary{{/p-button}}
	{{#p-button type="secondary" reverse=true onClick=(action 'submit')}}reverse secondary{{/p-button}}
	{{#p-button type="danger" reverse=true onClick=(action 'submit')}}reverse danger{{/p-button}}
	{{#p-button type="default" reverse=true disabled=true}}reverse default{{/p-button}}
	{{#p-button type="primary" 
		reverse=true 
		onClick=(action 'submit')
		icon="https://s3.amazonaws.com/uifaces/faces/twitter/damenleeturks/128.jpg"}}reverse
		primary{{/p-button}}
</section>